<div id="<%= dom_id artist_portfolio %>">
  <p>
    <strong>Name:</strong>
    <%= artist_portfolio.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= artist_portfolio.description %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= artist_portfolio.artist_id %>
  </p>

</div>
