<% content_for :title, "Editing artist profile" %>

<h1>Editing artist profile</h1>

<%= render "form", artist_profile: @artist_profile %>

<br>

<div>
  <%= link_to "Show this artist profile", @artist_profile %> |
  <%= link_to "Back to artist profiles", artist_profiles_path %>
</div>
