<p style="color: green"><%= notice %></p>

<% content_for :title, "Artist profiles" %>

<h1>Artist profiles</h1>

<div id="artist_profiles">
  <% @artist_profiles.each do |artist_profile| %>
    <%= render artist_profile %>
    <p>
      <%= link_to "Show this artist profile", artist_profile %>
    </p>
  <% end %>
</div>
