<p style="color: green"><%= notice %></p>

<%= render @artist_profile %>

<div>
  <%= link_to "Edit", edit_artist_profile_path(@artist_profile) %> |
  <%= link_to "Back", artist_profiles_path %>

</div>
