<!-- About 7 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">About Us</h2>
        <strong>
          <p class="text-secondary mb-5 text-center lead fs-4">We're passionate about digital art and all the creativity that comes with it. </p>
        </strong>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row gy-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6">
        <img class="img-fluid rounded border border-dark" loading="lazy" src="https://images.unsplash.com/photo-1515405295579-ba7b45403062?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YXJ0JTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D" alt="About Us">
      </div>
      <div class="col-12 col-lg-6 col-xxl-6">
        <div class="row justify-content-lg-end">
          <div class="col-12 col-lg-11">
            <div class="about-wrapper">
              <strong>
                <p class="lead mb-4 mb-md-5">We're all about connecting awesome digital artists with people who love their work. Our directory makes it easy to find and share creative talent from all over. Whether you're an artist or a fan, you'll find fresh inspiration here. It's simple, fun, and made for the digital art community. Come join us and discover something cool today!</p>
              </strong>
              <%= link_to "Back home", root_path, class:"btn btn-primary bsb-btn-2xl"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>